.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.positai

/.quarto/
**/*.quarto_ipynb

Take Home Exercise/Take Home Exercise 01/Data/
*.csv
*.xlsx
*.xls
*.rds
*.RData
.Rhistory
.Rproj.user/
.quarto/_freeze/
